.h1 {
    color: black;
}

.h2 {
    color: red;
}

.h3 {
    color: blue;
}

.h4 {
    color: orangered;
}

.h5 {
    color: yellow;
}

.h6 {
    color: brown;
}

.p {
    color: darkgreen;
}

.span {
    color: aqua;
}

.div {
    color: crimson;
}